<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input formControlName="firstName"
                        [ngClass]="{ 'is-invalid': (submitted||f['firstName'].touched) && f['firstName'].errors }"
                        type="text" class="form-control">
                    <div class="text-danger"
                        *ngIf="(submitted || f['firstName'].touched)  && f['firstName'].errors?.['required']">
                        First Name required
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input formControlName="lastName"
                        [ngClass]="{ 'is-invalid': (submitted||f['lastName'].touched) && f['lastName'].errors }"
                        type="text" class="form-control">
                    <div class="text-danger"
                        *ngIf="(submitted || f['lastName'].touched)  && f['lastName'].errors?.['required']">
                        Last Name required
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" type="text"
                        [ngClass]="{ 'is-invalid': (submitted||f['email'].touched) && f['email'].errors }"
                        class="form-control">
                    <div class="text-danger"
                        *ngIf="(submitted || f['email'].touched)  && f['email'].errors?.['required']">
                        Not a valid email
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input formControlName="pass"
                        [ngClass]="{ 'is-invalid': (submitted||f['pass'].touched) && f['pass'].errors }" type="text"
                        class="form-control">
                    <div class="text-danger"
                        *ngIf="(submitted || f['pass'].touched)  && f['pass'].errors?.['required']">
                        Incorrect password
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">
                        REGISTER
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>